body{
background-size:100%;
background-color:lavender;
 background-size:cover;}
 #div1 img{
height:467px;
width:1420px;
max-width:100%;
max-height:auto;

}
 #div1 h1{
font-family:times new roman;
font-size:42px;
text-align:center;
}
#div2 {
background-color:plum;
}
#div2 p{
color:white;
 font-size:40px;
font-family:times new roman;
 }
#div2 p{
 text-align:center;}
 
 #div2 h1{
 text-align:center;}

#div3 img{
width:200px;
height:200px;
border:2px solid black;
border-radius:100px;
max-width:100%;
max-height:auto;
margin:10px;
float:left;
} 
#div3 img:hover{
opacity:0.5;} 
 
 #div3 h2{
 float:left;}
 #div3{
  height:300px;}

#div4 {
 
 background-color:;
}
#hi {
 
 background-color:plum;
}

#ki{
font-size:16px;
}

#nav ul {   

text-align:center;}
#nav ul {
list-style:none;}

 #nav ul li{

background-color:plum
height:50px;
width:325px;
border:1px solid white;
line-height:50px;
float:left;
 text-align:center;
 color:black;
 position:relative;}

#nav ul li:hover{
 background-color:white;
 }


 
